### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players
Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
5,Yalae81,22,Male,81,Dreamkiss,3.61
6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,Undjask33,22,Male,21,Souleater,1.1
9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67

In [129]:
#count number of players
Total_Players= len(purchase_data["SN"].value_counts())

#print(f"Total Players: {Total_Players}")

summary_df = pd.DataFrame({ "Total Players": [Total_Players]})

summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
# #count unique items
unique_items = len(purchase_data.groupby(["Item ID"]).count())
# # print(f"Number of Unique Items: {unique_items}")

# #average price
avg_price = purchase_data["Price"].mean()
# # print(f"Avg Price: ${avg_price:,.2f}")

# #count number of purchases
number_of_purchases = purchase_data["Purchase ID"].count()
# # print(f"Number of Purchases: {number_of_purchases}")

# #get total revenue
total_revenue = purchase_data["Price"].sum()
# # print(f"Total Revenue: ${total_revenue:,.2f}")


# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({ "Number of Unique Items": [unique_items],
                            "Average Price": f"${avg_price:,.2f}",
                            "Number of Purchases": number_of_purchases,
                            "Total Revenue":f"${total_revenue:,.2f}"
                        })

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [127]:
#http://localhost:8888/notebooks/Lessons/04-Pandas/1/Activities/05-Ins_DataFunctions/Solved/data_functions.ipynb

#----Notes: check total players----
avg_male_player = purchase_data.groupby(['Gender']).agg({'SN': 'nunique'})
avg_male_player.rename(columns={'SN':'Total'})  # , '':''})


avg_male_player

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [ ]:
# M= purchase_data.groupby('Gender')['SN'].nunique().reset_index()
# M['Percentage of Players'] = 100 * M['SN']  / M['SN'].sum()
# print (M)

# count of players by gender
unique_count_df = purchase_data.groupby('Gender')['SN'].nunique()
#Percentage of players by gender
percent_of_player_df =(unique_count_df/len(purchase_data["SN"].value_counts()))*100

#merge both dataframe on 'Gender' columns
merge_df = pd.merge(unique_count_df,percent_of_player_df, on='Gender')
#rename default column names on merged dataframe
merge_df = merge_df.rename(columns={"SN_x": "Total Count","SN_y":"Percentage of Players"} )
#format percentage on output
merge_df["Percentage of Players"] = merge_df["Percentage of Players"].map("{:.2f}%".format)

merge_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Gender group head count
person_count = purchase_data.groupby('Gender')['SN'].nunique()

#purchase count ['Purchase ID']
purchase_count = purchase_data.groupby('Gender')['Purchase ID'].nunique()
purchase_count

#Total purchase value
tot_purchase_value = purchase_data.groupby('Gender')['Price'].sum()
tot_purchase_value  

#Average purchase value
avg_purchase_price = (tot_purchase_value/purchase_count)
avg_purchase_price 


avg_purchase_per_person = (tot_purchase_value/person_count)
avg_purchase_per_person

#Create summary frame with formatted values, .map accepts series or function
summary_df = pd.DataFrame({"Purchase Count": purchase_count, 
                   "Average Purchase Price": avg_purchase_price.map("${:.2f}".format),
                   "Total Purchase Value": tot_purchase_value.map("${:,.2f}".format), 
                   "Avg Total Purchase per Person": avg_purchase_per_person.map("${:.2f}".format),
                  
                  })
summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#Create bins in which to place values 
bins = [0, 9, 14,19,24,29,34,39,120] 

#Create the names for the eight bins
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Slice the data and place into bins
pd.cut(purchase_data["Age"], bins, labels=group_labels).head() # Each index by bin group
#Place the data series into a new column "Age Ranges" inside of the Dataframe
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels) # to add the above cut to existing df
purchase_data.head
#Create groupby object based upon "Age Ranges"
purchase_group = purchase_data.groupby("Age Ranges")

#Total count
total_count = len(purchase_group["SN"].value_counts())
total_count

#Unique count
unique_count = purchase_group["SN"].nunique()
unique_count

#Percentage of player
percent_of_player = (unique_count/total_count) * 100
percent_of_player

#create summary data frame with formatting
summary_df = pd.DataFrame({"Total Count": unique_count, 
                   "Average Purchase Price": percent_of_player.map("{:.2f}%".format)
                  })
summary_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Total Count	Percentage of Players
# <10	   17	2.95%  #0-9
# 10-14	22	3.82%      #10-14
# 15-19	107	18.58%     #15-19
# 20-24	258	44.79%     #20-24 
# 25-29	77	13.37%     #25-29 
# 30-34	52	9.03%      #30-34
# 35-39	31	5.38%      #35-39
# 40+	12	2.08%      #40-150
#------------------------------------

purchase_count = purchase_group["Age"].count()

tot_purchase_price = purchase_group["Price"].sum()

avg_purchase_price = tot_purchase_price/purchase_count

avg_tot_purchase_per_person = tot_purchase_price/unique_count

avg_tot_purchase_per_person

#create summary data frame with formatting
summary_df = pd.DataFrame({"Purchase Count": purchase_count, 
                           "Average Purchase Price": avg_purchase_price.map("${:.2f}".format),
                           "Total Purchase Value": tot_purchase_price.map("${:,.2f}".format),
                           "Avg Total Purchase per Person": avg_tot_purchase_per_person.map("${:.2f}".format)
                          })
summary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [119]:
#purchase count
purchase_count=(purchase_data.groupby('SN')['Purchase ID'].nunique())
purchase_count

#total price value
total_price_value = (purchase_data.groupby('SN')['Price'].sum())
total_price_value.head()

#average purchase price
avg_purchase_price= total_price_value/purchase_count
avg_purchase_price


#Create summary frame with formatted values, .map accepts series or function
summary_df = pd.DataFrame({"Purchase Count": purchase_count, 
                           "Average Purchase Price": avg_purchase_price.map("${:.2f}".format),
                           "Total Purchase Value": total_price_value #.map("${:,.2f}".format) # .map changed datatype
                                                                                              # to string - won't work with sort
                                    
                          })

#Sort summary data frame by Total Purchase Value in descending order
summary_df.sort_values("Total Purchase Value", ascending = False).head(5)

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [124]:
#Creaet dataframe with columns Item ID, Item Name, and Price
popular_item_df = purchase_data[['Item ID', 'Item Name','Price' ]]
popular_item_df

#Group popular_item_df by Item ID and Item Name
popular_item_grp = popular_item_df.groupby(['Item ID', 'Item Name'])
popular_item_grp

#Purchase count
popular_item_count = popular_item_grp['Price'].count()
popular_item_count

#Sum total purchase value
tot_purchase_value = popular_item_grp['Price'].sum()
tot_purchase_value

#Calculate item price: total popular item purchase value/ populater item count
item_price= tot_purchase_value/ popular_item_count
item_price


#Create summary dataframe
summary_df = pd.DataFrame({"Purchase Count": popular_item_count, 
                           "Item Price": item_price.map("${:.2f}".format),
                           "Total Purchase Price": tot_purchase_value#.map("${:.2f}".format)
                                                            
                          })


#Sort summary data frame by Purchase Count value in descending order
summary_df.sort_values("Purchase Count", ascending = False).head(5)

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [125]:
#Sort summary data frame by Total Purchase Value in descending order
summary_df.sort_values("Total Purchase Price", ascending = False).head(5)

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80